 <%= form_for(entry) do |form| %>
    <h3>Mój formularz</h3>
  <div class="form-group">
    <%= form.label("title") %>
    <%= form.text_field("title", class: "form-control", placeholder: "Enter your title...") %>
  </div>
  
  <div class="form-group">
    <%= form.label("contents") %>
    <%= form.text_area("contents", class: "form-control", placeholder: "Enter your content...") %>
  </div>
  
  <%= form.submit(class: "btn btn-primary") %>
<% end %>